/* Light mode styles */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  
  button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
    color: #ffffff;
  }
  